In [10]:
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

df = pd.read_csv('https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv')
df.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

In [11]:
df.shape

(887, 8)

In [12]:
df['Survived'].value_counts()

Survived
0    545
1    342
Name: count, dtype: int64

In [13]:
df.isnull().sum()

Survived                   0
Pclass                     0
Name                       0
Sex                        0
Age                        0
Siblings/Spouses Aboard    0
Parents/Children Aboard    0
Fare                       0
dtype: int64

In [14]:
df.drop('Name',axis=1,inplace=True)

In [15]:
df.head()

,Survived,Pclass,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,male,22.0,1,0,7.2500
1,1,1,female,38.0,1,0,71.2833
2,1,3,female,26.0,0,0,7.9250
3,1,1,female,35.0,1,0,53.1000
4,0,3,male,35.0,0,0,8.0500

In [16]:
df['Sex'] = df['Sex'].map({'male':1,'female':2})
df.head()

,Survived,Pclass,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,1,22.0,1,0,7.2500
1,1,1,2,38.0,1,0,71.2833
2,1,3,2,26.0,0,0,7.9250
3,1,1,2,35.0,1,0,53.1000
4,0,3,1,35.0,0,0,8.0500

In [17]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report,confusion_matrix

x = df.drop('Survived',axis=1)
y = df['Survived']

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [19]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier,GradientBoostingClassifier

models = {
    'Decision Tree':DecisionTreeClassifier(),
    'Random Forest':RandomForestClassifier(),
    'Gradient Boosting':GradientBoostingClassifier()
}

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(x_train,y_train)
    
    y_pred = model.predict(x_test)
    cr = classification_report(y_test,y_pred)
    cm = confusion_matrix(y_test,y_pred)
    # graph = sns.heatmap(cm,annot=True,fmt='d')
    
    print(list(models.keys())[i])
    
    print(f'classification_report \n{cr}\n')
    print(f'confusion_matrix \n{cm}')
    
    print('_'*60)
    print('\n')

Decision Tree
classification_report
              precision    recall  f1-score   support

           0       0.81      0.76      0.78       111
           1       0.64      0.70      0.67        67

    accuracy                           0.74       178
   macro avg       0.72      0.73      0.72       178
weighted avg       0.74      0.74      0.74       178


confusion_matrix
[[84 27]
 [20 47]]
____________________________________________________________


Random Forest
classification_report
              precision    recall  f1-score   support

           0       0.82      0.80      0.81       111
           1       0.69      0.72      0.70        67

    accuracy                           0.77       178
   macro avg       0.75      0.76      0.76       178
weighted avg       0.77      0.77      0.77       178


confusion_matrix
[[89 22]
 [19 48]]
____________________________________________________________


Gradient Boosting
classification_report
              precision    recall  f1-score   support

           0       0.85      0.86      0.85       111
           1       0.76      0.75      0.75        67

    accuracy                           0.81       178
   macro avg       0.80      0.80      0.80       178
weighted avg       0.81      0.81      0.81       178


confusion_matrix
[[95 16]
 [17 50]]
____________________________________________________________