In [ ]:
# connect MySQL using Python
! pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.4.0-cp311-cp311-macosx_14_0_arm64.whl.metadata (7.3 kB)
Downloading mysql_connector_python-9.4.0-cp311-cp311-macosx_14_0_arm64.whl (17.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 17.5/17.5 MB 61.4 MB/s eta 0:00:0000:0100:01
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.4.0

[notice] A new release of pip is available: 24.0 -> 25.2
[notice] To update, run: pip install --upgrade pip

In [3]:
import mysql.connector

connection = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'Mahakal2090#',
    database = 'expense_manager'
)

In [9]:
if connection.is_connected():
    print("connected")
else:
    print("not")

cursor = connection.cursor(dictionary=True)
cursor.execute("SELECT * FROM expenses")
expences = cursor.fetchall()

for ex in expences:
    print(ex)

connection.close()

connected
{'id': 3, 'expense_date': datetime.date(2024, 8, 2), 'amount': 50.0, 'category': 'Entertainment', 'notes': 'Movie tickets'}
{'id': 4, 'expense_date': datetime.date(2024, 8, 2), 'amount': 150.0, 'category': 'Shopping', 'notes': 'New shoes'}
{'id': 5, 'expense_date': datetime.date(2024, 8, 3), 'amount': 100.0, 'category': 'Food', 'notes': 'Dinner at a restaurant'}
{'id': 11, 'expense_date': datetime.date(2024, 8, 2), 'amount': 400.0, 'category': 'Food', 'notes': 'Groceries for the week'}
{'id': 12, 'expense_date': datetime.date(2024, 8, 2), 'amount': 80.0, 'category': 'Entertainment', 'notes': 'Concert tickets'}
{'id': 13, 'expense_date': datetime.date(2024, 8, 2), 'amount': 100.0, 'category': 'Shopping', 'notes': 'Clothes'}
{'id': 14, 'expense_date': datetime.date(2024, 8, 2), 'amount': 50.0, 'category': 'Other', 'notes': 'Gasoline'}
{'id': 15, 'expense_date': datetime.date(2024, 8, 3), 'amount': 60.0, 'category': 'Food', 'notes': 'Dinner at a restaurant'}
{'id': 16, 'expense_date': datetime.date(2024, 8, 3), 'amount': 20.0, 'category': 'Entertainment', 'notes': 'Video rental'}
{'id': 17, 'expense_date': datetime.date(2024, 8, 3), 'amount': 120.0, 'category': 'Shopping', 'notes': 'Gadgets'}
{'id': 18, 'expense_date': datetime.date(2024, 8, 3), 'amount': 15.0, 'category': 'Other', 'notes': 'Coffee'}
{'id': 19, 'expense_date': datetime.date(2024, 8, 4), 'amount': 25.0, 'category': 'Food', 'notes': 'Lunch'}
{'id': 20, 'expense_date': datetime.date(2024, 8, 4), 'amount': 200.0, 'category': 'Shopping', 'notes': 'Home supplies'}
{'id': 21, 'expense_date': datetime.date(2024, 8, 4), 'amount': 10.0, 'category': 'Other', 'notes': 'Parking'}
{'id': 22, 'expense_date': datetime.date(2024, 8, 5), 'amount': 350.0, 'category': 'Rent', 'notes': 'Shared rent payment'}
{'id': 23, 'expense_date': datetime.date(2024, 8, 5), 'amount': 40.0, 'category': 'Food', 'notes': 'Snacks'}
{'id': 24, 'expense_date': datetime.date(2024, 8, 5), 'amount': 75.0, 'category': 'Entertainment', 'notes': 'Theater tickets'}
{'id': 25, 'expense_date': datetime.date(2024, 8, 5), 'amount': 100.0, 'category': 'Shopping', 'notes': 'Books'}
{'id': 26, 'expense_date': datetime.date(2024, 8, 5), 'amount': 15.0, 'category': 'Other', 'notes': 'Miscellaneous'}
{'id': 27, 'expense_date': datetime.date(2024, 8, 6), 'amount': 30.0, 'category': 'Food', 'notes': 'Breakfast'}
{'id': 28, 'expense_date': datetime.date(2024, 8, 6), 'amount': 100.0, 'category': 'Shopping', 'notes': 'Shoes'}
{'id': 29, 'expense_date': datetime.date(2024, 8, 6), 'amount': 80.0, 'category': 'Entertainment', 'notes': 'Movies'}
{'id': 30, 'expense_date': datetime.date(2024, 8, 6), 'amount': 15.0, 'category': 'Other', 'notes': 'Public transport'}
{'id': 31, 'expense_date': datetime.date(2024, 9, 1), 'amount': 1200.0, 'category': 'Rent', 'notes': 'Monthly rent payment'}
{'id': 32, 'expense_date': datetime.date(2024, 9, 1), 'amount': 300.0, 'category': 'Food', 'notes': 'Groceries for the week'}
{'id': 33, 'expense_date': datetime.date(2024, 9, 1), 'amount': 50.0, 'category': 'Entertainment', 'notes': 'Movie tickets'}
{'id': 34, 'expense_date': datetime.date(2024, 9, 1), 'amount': 150.0, 'category': 'Shopping', 'notes': 'New shoes'}
{'id': 35, 'expense_date': datetime.date(2024, 9, 1), 'amount': 20.0, 'category': 'Other', 'notes': 'Bus fare'}
{'id': 36, 'expense_date': datetime.date(2024, 9, 2), 'amount': 400.0, 'category': 'Food', 'notes': 'Groceries for the week'}
{'id': 37, 'expense_date': datetime.date(2024, 9, 2), 'amount': 80.0, 'category': 'Entertainment', 'notes': 'Concert tickets'}
{'id': 38, 'expense_date': datetime.date(2024, 9, 2), 'amount': 100.0, 'category': 'Shopping', 'notes': 'Clothes'}
{'id': 39, 'expense_date': datetime.date(2024, 9, 2), 'amount': 50.0, 'category': 'Other', 'notes': 'Gasoline'}
{'id': 40, 'expense_date': datetime.date(2024, 9, 3), 'amount': 60.0, 'category': 'Food', 'notes': 'Dinner at a restaurant'}
{'id': 41, 'expense_date': datetime.date(2024, 9, 3), 'amount': 20.0, 'category': 'Entertainment', 'notes': 'Video rental'}
{'id': 42, 'expense_date': datetime.date(2024, 9, 3), 'amount': 120.0, 'category': 'Shopping', 'notes': 'Gadgets'}
{'id': 43, 'expense_date': datetime.date(2024, 9, 3), 'amount': 15.0, 'category': 'Other', 'notes': 'Coffee'}
{'id': 44, 'expense_date': datetime.date(2024, 9, 4), 'amount': 25.0, 'category': 'Food', 'notes': 'Lunch'}
{'id': 45, 'expense_date': datetime.date(2024, 9, 4), 'amount': 200.0, 'category': 'Shopping', 'notes': 'Home supplies'}
{'id': 46, 'expense_date': datetime.date(2024, 9, 4), 'amount': 10.0, 'category': 'Other', 'notes': 'Parking'}
{'id': 47, 'expense_date': datetime.date(2024, 9, 5), 'amount': 350.0, 'category': 'Rent', 'notes': 'Shared rent payment'}
{'id': 48, 'expense_date': datetime.date(2024, 9, 5), 'amount': 40.0, 'category': 'Food', 'notes': 'Snacks'}
{'id': 49, 'expense_date': datetime.date(2024, 9, 5), 'amount': 75.0, 'category': 'Entertainment', 'notes': 'Theater tickets'}
{'id': 50, 'expense_date': datetime.date(2024, 9, 5), 'amount': 100.0, 'category': 'Shopping', 'notes': 'Books'}
{'id': 51, 'expense_date': datetime.date(2024, 9, 5), 'amount': 15.0, 'category': 'Other', 'notes': 'Miscellaneous'}
{'id': 52, 'expense_date': datetime.date(2024, 9, 30), 'amount': 1000.0, 'category': 'Rent', 'notes': 'Monthly rent payment'}
{'id': 53, 'expense_date': datetime.date(2024, 9, 30), 'amount': 250.0, 'category': 'Food', 'notes': 'Groceries for the week'}
{'id': 54, 'expense_date': datetime.date(2024, 9, 30), 'amount': 40.0, 'category': 'Entertainment', 'notes': 'Cinema tickets'}
{'id': 55, 'expense_date': datetime.date(2024, 9, 30), 'amount': 100.0, 'category': 'Shopping', 'notes': 'Clothes'}
{'id': 56, 'expense_date': datetime.date(2024, 9, 30), 'amount': 20.0, 'category': 'Other', 'notes': 'Public transport'}
{'id': 62, 'expense_date': datetime.date(2024, 8, 15), 'amount': 10.0, 'category': 'Shopping', 'notes': 'Bought potatoes'}
{'id': 63, 'expense_date': datetime.date(2024, 8, 1), 'amount': 1227.0, 'category': 'Rent', 'notes': 'Monthly rent payment'}
{'id': 64, 'expense_date': datetime.date(2024, 8, 1), 'amount': 300.0, 'category': 'Food', 'notes': 'Groceries for the week'}
{'id': 65, 'expense_date': datetime.date(2024, 8, 1), 'amount': 1200.0, 'category': 'Rent', 'notes': 'Monthly rent payment'}
{'id': 66, 'expense_date': datetime.date(2024, 8, 1), 'amount': 300.0, 'category': 'Food', 'notes': 'Groceries for the week'}

In [ ]:
def get_bd_cursor():
    connection = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'Mahakal2090#',
    database = 'expense_manager'
    )
    
    if connection.is_connected():
        print("connected")
    else:
        print("not")

    cursor = connection.cursor(dictionary=True)
    return connection, cursor

def fatch_all_data():
    connection, cursor = get_bd_cursor()
    cursor.execute("SELECT * FROM expenses")
    expences = cursor.fetchall()
    for ex in expences:
        print(ex)
        
    cursor.close()
    connection.close()
    
def fatch_exp_date(expense_date):
    connection, cursor = get_bd_cursor()
    cursor.execute("SELECT * FROM expenses WHERE expense_date = %s",(expense_date,))
    expences = cursor.fetchall()
    for ex in expences:
        print(ex)
        
    cursor.close()
    connection.close()
    
if __name__ == "__main__":
    # fatch_all_data()
    fatch_exp_date("2024-08-03")

connected
{'id': 5, 'expense_date': datetime.date(2024, 8, 3), 'amount': 100.0, 'category': 'Food', 'notes': 'Dinner at a restaurant'}
{'id': 15, 'expense_date': datetime.date(2024, 8, 3), 'amount': 60.0, 'category': 'Food', 'notes': 'Dinner at a restaurant'}
{'id': 16, 'expense_date': datetime.date(2024, 8, 3), 'amount': 20.0, 'category': 'Entertainment', 'notes': 'Video rental'}
{'id': 17, 'expense_date': datetime.date(2024, 8, 3), 'amount': 120.0, 'category': 'Shopping', 'notes': 'Gadgets'}
{'id': 18, 'expense_date': datetime.date(2024, 8, 3), 'amount': 15.0, 'category': 'Other', 'notes': 'Coffee'}

### Better Modeulare coding with generator to optimised and reduse the code

In [5]:
from contextlib import contextmanager

@contextmanager
def get_bd_cursor(commit=False):
    connection = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'Mahakal2090#',
    database = 'expense_manager'
    )
    
    if connection.is_connected():
        print("connected")
    else:
        print("not")

    cursor = connection.cursor(dictionary=True)
    yield cursor
    if commit:
        connection.commit()
    cursor.close()
    connection.close()

def fatch_all_data():
    with get_bd_cursor() as cursor:
        cursor.execute("SELECT * FROM expenses")
        expences = cursor.fetchall()
        for ex in expences:
            print(ex)
        
    
def fatch_exp_date(expense_date):
    with get_bd_cursor() as cursor:
        cursor.execute("SELECT * FROM expenses WHERE expense_date = %s",(expense_date,))
        expences = cursor.fetchall()
        for ex in expences:
            print(ex)
            
def insert_into(expense_date, amount, category, notes):
    with get_bd_cursor(commit=True) as cursor:
        cursor.execute("INSERT INTO expenses (expense_date, amount, category, notes) VALUES (%s,%s,%s,%s)",
                       (expense_date, amount, category, notes))

def delete_data(expense_date):
    with get_bd_cursor(commit=True) as cursor:
        cursor.execute("DELETE FROM expenses WHERE expense_date = %s",(expense_date,))
        
    
if __name__ == "__main__":
    # fatch_all_data()
    # insert_into("2025-08-06",300,"Food","Panipuri")
    # fatch_exp_date("2025-08-06")
    print("***** expenses for 8/6 ********")
    fatch_exp_date("2025-08-06")
    print("****** delete for 8/6 *******")
    delete_data("2025-08-06")
    print("***** again expenses for 8/6 ********")
    fatch_exp_date("2025-08-06")

***** expenses for 8/6 ********
connected
{'id': 67, 'expense_date': datetime.date(2025, 8, 6), 'amount': 300.0, 'category': 'Food', 'notes': 'Panipuri'}
****** delete for 8/6 *******
connected
***** again expenses for 8/6 ********
connected